# CSV 파일 확인
# Pandas로 파일 열어서 확인
# ML로 베이스라인 작성

In [1]:
from preamble import *

In [2]:
df=pd.read_csv("data/housing.csv")
df

,longitude,latitude,housing_median_age,total_rooms,...,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,...,126.0,8.33,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,...,1138.0,8.30,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,...,177.0,7.26,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,...,219.0,5.64,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,...,259.0,3.85,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,...,330.0,1.56,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,...,114.0,2.56,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,...,433.0,1.70,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,...,349.0,1.87,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,...,530.0,2.39,89400.0,INLAND

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
df['total_bedrooms']=df['total_bedrooms'].fillna(df['total_bedrooms'].median())

In [6]:
y=df['total_bedrooms']
X=df.drop(columns=['total_bedrooms'])

In [8]:
train_X, train_y, test_X, test_y=train_test_split(X, y, test_size=0.2, random_state=42 )